:root {
  --fontTitle:'Hind', sans-serif;
  --fontSections:  'Slabo 13px', serif;
  --fontTexts: 'Yantramanav', sans-serif;

}  
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: #E5E5E5;
  height: 100vh;
  width: 100vw;

}
/*seccion Imagen*/
.image-login img{
  width: 70vw;
  height: auto;
  margin-top: 1em;
}



/* Estilos Login */
.login {
  align-items: center;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  justify-items: center;
  text-align: center;
}

.login h1 {
  color: #0073B1;
  display: none;
  font-family: var(--fontTitle);
  font-size: 2em;
  margin-top: 0.2em;

}

.login h2 {
  color: #0073B1;
  font-family: var(--fontSections);
  font-weight: bold;
  font-size: 2em;
  margin-top: 0.8em;
}

.login .welcome {
  margin-top: 1.5em;
}

.login p {
  color: #0073B1;
  font-family: var(--fontTexts);
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 0 1em 0 1em;
}

.container-login {
  align-items: center;
  display: flex;
  background-color: #FCE2BA; 
  border-radius: 1.5em;
  flex-direction: column;
  margin-top: 1.5em;
  min-height: 22em;
  min-width: 18em;
}

.input {
  border: 0.1em solid gray;
  border-radius: 0.5em;
  height: 2.2em;
  margin-top: 1.3em;
  padding-left: 0.8em;
  width: 17em;
}

.button {
  background-color: #0073B1;
  border: 0.1em solid gray;
  border-radius: 1em;
  color: #fff;
  font-weight: bold;
  height: 3em;
  margin-top: 1em;
  width: 17em;
}

.registration {
  align-items: center; 
  background-color: #fff;
  border: 0.2em solid #0073B1;
  border-radius: 0.9em;
  display: flex;
  flex-direction: row;
  font-family: var(--fontTexts);
  font-size: .9em;
  font-weight: bold;
  height: 2.1em;
  justify-content: space-between;
  margin-top: 1.5em;
  padding: 0 1em;
  width: 16em;
}

.red {
  color:red;
}


/*Seccion de registro*/
.overlay{
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  
}

.popup {
  background-color:#fff; 
  border-radius: 2em;
  height: 80vh;
  width: 80vw;
  position: relative;
  
}

.popup .btn-cerrar-popup {
  display: block;
  color: #0073B1;
  cursor: pointer;
  font-family: var(--fontSections);
  font-size: 1em;
  margin-right: 1.2em;
  margin-top: 0.8em;
  position: absolute;
  right: 0;
  text-align: right;
  text-decoration: none;
  width: 1em;
}

.btn-cerrar-popup:hover {
  color:#113246;
}

.popup h3 {
  color: #0073B1; 
  font-family: var(--fontTitle);
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.2em;
}

.popup > p {
  margin-top: 0;
}

.form-registration {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*margin-top: 1em;*/
}

.form-registration input {
  border: 0.1em solid gray;
  border-radius: 0.2em;
  height: 1.8em;
  margin-top: 1em;
  padding-left: 0.3em;
  width: 16em;
}

.date-of-birth {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.date-of-birth label {
  color: #0073B1; 
  font-family: var(--fontTexts);
  font-size: 0.8em;
  font-weight: bold;

}

.date-of-birth input {
  background-color: rgba(155,155,155,0.2);
  font-family: var(--fontTexts);
  font-size: 0.83em;
  margin-top: 0;
}

.btn-registration {
  border-radius: 0.7em;
  cursor: pointer;
  height: 2.3em;
  width: 16.1em;
}

@media (min-width: 480px){
  .login {
    grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
  }

  .image-login img{
    width: 50vw;
    margin-left: 4em;
  }
}

@media (min-width: 1024px){
  .login {
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
  }

  .image-login img{
    width: 60vw;
    margin-left: 11em;
  }
}
